@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none; 
    color: white;
    font-family: "Poppins", sans-serif;
     /* font-family: "Bricolage Grotesque", sans-serif; */
}

.header{
    background-color: black;
    height: auto;
}

.fond img{
       position: absolute; 
       top: -260px;
        left: 50%;
        transform: translateX(-50%);
        height: 800px;
        object-fit: cover;
}

.content-nav{
  padding: 20px 5% 0 5%;
  position: relative;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 3%;
    background-color: rgba(53, 52, 52, 0.329);
    backdrop-filter: blur(15px);
    border-radius: 30px;
} 

.logo {
  line-height: 0;
} 

.logo a img{
  width: 180px;
  height: 70px;
  object-fit: cover;
  transition: transform 0.4s ease-in-out;
} 

.logo a img:hover{
 transform: translateX(15px);
} 

.navlinks{
    display: flex;
    align-items: center;
    z-index: 500;
    gap: 50px;
}

.navlinks li a {
    color: white;
    font-weight: 500;
    position: relative;
}

.navlinks li a::before{
   content: "";
   left: 0;
   position: absolute;
   height: 2px;
   border-radius: 20px;
   bottom: -6px;
   width: 0%;
   background-color: rgb(245, 166, 35);
   transition: width 0.4s ease-in-out;
}

.navlinks li a:hover:before{
   width: 100%;
}

.sous-navlink{
   display: flex;
   align-items: center;
   gap: 20px;
}


.sous-navlink .btn{
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    border: 1px solid  #333;
    position: relative;
    overflow: hidden;
    transition: 0.4s ease-in-out;
}

.sous-navlink .btn::before{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  z-index: -1;
  top: 0;
  width: 0%;
 background-color: rgb(245, 166, 35);
 transition: width 0.4s ease-in-out;
}

.sous-navlink .btn:hover::before{
  width: 100%;
}

.sous-navlink .btn:hover{
  color: black;
  font-weight: 500;
}


.sous-navlink .design{
  /* background-color: rgb(245, 166, 35); */
  font-weight: 500;
}

/* la partie du bouton de navigation de la page  */

.navigationButton{
  height: 25px;
  width: 20px;
  position: relative;
  cursor: pointer;
  z-index: 1000;
  border: none;
  background-color: transparent;
  display: none;
}

.navigationButton .line{
 position: absolute;
 left: 0;
 background-color: rgb(245, 166, 35);
 width: 100%;
 height: 2px;
 transition: transform 0.4s ease-in-out,
 opacity 0.4s ease-in-out
 ;
}

.navigationButton .L1{
 transform: translateY(8px);
}

.navigationButton .L3{
 transform: translateY(-8px);
}


.navigationButton.active .L1{
 transform: translateY(0px)  rotate(-135deg);
 background-color: white;
}

.navigationButton.active .L3{
 transform: translateY(0px) rotate(135deg);
 background-color: white;
}

.navigationButton.active .L2{
   opacity: 0;
}



/* la deuxieme partie de mon header qui le texte qui m'introduit */

.contener-element-texte-header{
  text-align: center;
  padding-top: 20px;
  color: white;
  position: relative;
  padding: 40px 0 0 0;
  height: 80vh;
  z-index: 0;
}

.contener-element-texte-header::before{
 content: "";
 width: 100%;
 position: absolute;
 bottom: 0;
 left: 0;
  background-color: rgb(245, 166, 35);
 height: 2px;
 background-size: cover;
}

.contener-element-texte-header h1{
 font-family: "Bricolage Grotesque", sans-serif;
  font-size: 95px;
  line-height: 100px;
  margin: 0px 0;
}

.contener-element-texte-header img{
   height: auto;
   width: 380px;
   position: absolute;
   object-fit: cover;
   bottom: 5px;
   left: 50%;
   transform: translateX(-50%);
}

.pro, .dgn{
  font-family: "Bricolage Grotesque";
}

.pro{
    color: transparent;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: rgb(245, 166, 35);
}

.icone-element{
  color:  rgb(245, 166, 35);
  position: relative;
  width: 100%;
}
  
.icone-element .fa-solid{
  color:  rgb(245, 166, 35);
  font-size: 80px;
  position: absolute;
}

.icone-element .fa-solid:nth-child(1){
  left: 150px;
  animation: DesignIcone 4s linear infinite;
}
  
.icone-element .fa-solid:nth-child(2){
  right: 150px;
  animation: codeIcone 4s linear infinite;
}
  
@keyframes DesignIcone {
  50%{
    transform: translateY(20%);
  }
  0%,100%{
    transform: translateY(-20%);
  }
}

@keyframes codeIcone {
  50%{
    transform: translateY(-20%);
  }
  0%,100%{
    transform: translateY(20%);
  }
}

/* la partie du champs about  */

.aboutme{
  display: flex;
  align-items: start;
  gap: 40px;
  padding: 80px 5% 20px 5%;
  justify-content: center;
  background-color: black;
}

.box-text-about{
max-width: 600px;
}

.aboutme .box-img{
 height: 500px;
 object-fit: cover;
 border-radius: 30px;
 width: 500px;
 position: relative;
  background: transparent;
  border: 2px solid rgb(245, 166, 35);
}

.aboutme .box-img img{
 height: 100%;
 object-fit: cover;
 border-radius: 30px;
 width: 100%;
 position: absolute;
 top: -10px;
 left:-10px;
}

.box-text-about h2{
  font-family: "Bricolage Grotesque";
   font-size: 40px;
   color:  rgb(245, 166, 35);
   margin-bottom: 30px;
}


.box-text-about p{
   margin-bottom: 30px;
}


.about-btn{
    display: flex; 
    gap: 30px;
}

.about-btn .bouton-about{
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    border: 1px solid  #333;
    position: relative;
    overflow: hidden;
    transition: 0.4s ease-in-out;
}


.about-btn .bouton-about::before{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  z-index: -1;
  top: 0;
  width: 0%;
 background-color: rgb(245, 166, 35);
 transition: width 0.4s ease-in-out;
}






























/* la partie responsive de la page  */

@media (max-width : 700px) {

.fond img{
        height: 800px;
        width: 100%;
}

.content-nav{
  padding: 40px 2% 0 2%;
  z-index: 10;
}
 
.navbar{
    padding: 8px 4% 8px 2%;
    
} 

.logo a img{
  width: 100px;
  height: 50px;
} 

.navlinks{
  position: fixed;
  left: 0;
  padding: 100px 0 0 0;
  top: -50px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 100%;
  transform: translateY(-500px);
  pointer-events: auto;
  background-image: url(image/pintagram.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 0 0 30px 30px;
  border: 2px solid rgb(245, 166, 35);
  transition: transform 0.4s ease-in-out;
  gap: 30px;
}

.navlinks.active{
  transform: translateY(0);
}


.sous-navlink{
   flex-direction: column;
   gap: 20px;
}


.navigationButton{
  display: block;
}


/* la deuxieme partie de mon header qui le texte qui m'introduit*/

.contener-element-texte-header{
  text-align: center;
  padding-top: 0;
  padding: 80px 0 0 0;
  height: 60vh;
  overflow: hidden;
}

.contener-element-texte-header h1{
  font-size: 45px;
  line-height: 50px;
}

/* la partie des icones qui bougent */

.icone-element .fa-solid{
  font-size: 45px;
  top: 60px;
}

.icone-element .fa-solid:nth-child(1){
  left: 40px;
}
  
.icone-element .fa-solid:nth-child(2){
  right: 40px;
}


/* la partie du champs about  */

.aboutme{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
  padding: 80px 2% 0 2%;
  justify-content: center;
  background-color: black;
}



.aboutme .box-img{
 height: 340px;
 object-fit: cover;
 border-radius: 30px;
 width: 340px;
 position: relative;
  background: transparent;
  border: 2px solid rgb(245, 166, 35);
}


.aboutme .box-img img{
 left: -5px;
 top: -10px;
}

.box-text-about p{
   font-size: 14px
}


.about-btn{
    display: flex; 
    gap: 10px;
    flex-direction: column;
}

.about-btn .bouton-about{
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    border: 1px solid  #333;
    position: relative;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    width: 100%;
}


}



/* media screm pour ecran 360px */

@media (max-width : 400px) {

.contener-element-texte-header h1{
  font-size: 45px;
  line-height: 50px;
}

/* la partie des icones qui bougent */

.icone-element .fa-solid{
  font-size: 30px;
  top: 20px;
}

.icone-element .fa-solid:nth-child(1){
  left: 30px;
}
  
.icone-element .fa-solid:nth-child(2){
  right: 30px;
}

}


































